.App {
  text-align: center;
}





.centered {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input{
  border: none;
  outline: none;
  background-color: #61dafb;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.buttons {
  background-color: rgb(160, 40, 40);
  color: rgb(62, 176, 68);
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.App-main {
  background-color: #0e3075;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}


